.driver-card {
    transition: transform 0.3s ease;
    width: 16vw;
    border-radius: 30px;
}

.driver-card-scaled,
.driver-card:hover {
    transform: scale(1.05);
}

.driver-card-disabled {
    filter: grayscale(100%);
    pointer-events: none;
}

.driver-avatar {
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 1));
}

.driver-card-content {
    padding: 16px;
    text-align: center;
}

.driver-card-content h3 {
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;
    word-spacing: 999rem;
}

.driver-card-content h3 ~ .driver-card-content h3 {
    word-spacing: unset;
    display: table-caption;
}

.driver-card-content p {
    margin: 0;
    font-size: 1.2em;
}

.driver-flag {
    scale: 2;
}

.team-name {
    font-style: italic;
}
