.radio-player__button {
    width: 10vw !important;
    height: 10vw !important;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2) !important;
}

.radio-player__button:hover {
    transform: scale(1.05) !important;
    background-color: var(--color-primary) !important;
}

.radio-player__button__icon {
    font-size: 8vh !important;
}
