.quiz-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.quiz-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
}

.quiz-container {
    background-color: var(--color-secondary);
    padding: 24px;
    border-radius: 50px;
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quiz-options {
    display: flex;
    gap: 1rem;
}

@media (max-width: 600px) {
    .quiz-container {
        width: 90vw;
        gap: 2rem;
    }

    .quiz-options {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .driver-card {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    .driver-avatar {
        scale: 0.8;
    }
}
