.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
}

.loading-text {
    font-size: 24px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-up {
    opacity: 0;
    transform: translateY(-20px);
}
