:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --color-primary: #ef3e36; /* Vermilion */
    --color-secondary: #948080; /* Cinereous */
    --color-background: #fadfdd; /* Misty Rose */
    --color-text: #2e282a; /* Raisin Black */

    background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
